<!DOCTYPE html>
<!-- saved from url=(0041)https://www.nerdishchaterwa.com/render/pVkM36Biz1 -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>
        <%=title%>

    </title>
    <meta name="generator" content="nerdishchaterwa">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Clean Bootstrap 3 single column layout that works well for blog or article lists. This template features circle images, minimal narrow-style">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/2.4.1/lodash.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/9.1.0/styles/github.min.css">
    <script src="js/markdown-it.js"></script>
    <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <!-- <script src="/scripts/index.js"></script> -->

    <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" type="text/css" rel="stylesheet">



    <!-- CSS code from nerdishchaterwa.com editor -->

    <style type="text/css">
        /* override bootstrap styles */
        
        @import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
    </style>
</head>

<!-- HTML code from nerdishchaterwa.com editor -->

<body>

    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
            </nav>
        </div>
    </header>

    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
        <!-- /cont -->

        <div class="container">
            <div class="row">
            </div>
        </div>
        <!-- /cont -->

    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">
                        <!--/stories-->
                        <div class="row">
                            <br>
                            <div class="col-md-2 col-sm-3 text-center">
                                <a class="story-title" href="https://www.nerdishchaterwa.com/render/pVkM36Biz1#">
                                    <img alt="" src="" style="width:100px;height:100px" class="img-circle"></a>
                            </div>
                            <div class="col-md-10">
                                <!-- <form action="/flash/submitFeedback"> -->
                                <select name="files" id="opt">
                                         
                                        </select> &nbsp;
                                <!-- <input type="submit"> -->
                                <!-- <input type="submit" value="submit"> -->
                                <button id="submit" onclick="myFunction()">submit</button>
                                <!-- </form> -->
                            </div>
                            <div class="col-md-10 col-sm-9">
                                <div class="row">
                                    <div class="col-xs-9">

                                        <!-- <h4><span class="label label-default">
                                            <br/><br/><br/>
                                            </span>
                                        </h4> -->
                                    </div>
                                    <div class="col-xs-3">

                                    </div>
                                </div>
                                <div class="row" id="showbutton">
                                    <!-- <input type="button" onclick="showAnswer();" value="Show Answer" /> -->
                                </div>
                                <div class="row hidden" id="answer">
                                    <div class="col-xs-9">
                                        <h4><span class="label-default">
                                        </span></h4>
                                    </div>
                                    <div class="col-xs-3"></div>
                                </div>
                                <br/>
                                <br/>
                                <div class="row" id="showbutton">

                                </div>
                            </div>
                        </div>
                        <!-- <a href="https://www.nerdishchaterwa.com/" class="btn btn-primary pull-right btnNext">easy</a> -->
                        <!-- <i class="glyphicon glyphicon-chevron-right"></i> -->
                        <!-- <a href="https://www.nerdishchaterwa.com/" class="btn btn-primary pull-right btnNext" style='margin-right:5px'>defficult</a> -->
                        <!-- <i class="glyphicon glyphicon-chevron-right"></i> -->
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>


    <hr>

    <div class="container" id="footer">
        <div class="row">
            <div class="col col-sm-12">

                <h1>Follow Us</h1>
                <div class="btn-group">
                    <a class="btn btn-twitter btn-lg" href="https://www.nerdishchaterwa.com/render/pVkM36Biz1#"><i class="icon-twitter icon-large"></i>
                        Twitter</a>
                    <a class="btn btn-facebook btn-lg" href="https://www.nerdishchaterwa.com/render/pVkM36Biz1#"><i class="icon-facebook icon-large"></i>
                        Facebook</a>
                    <a class="btn btn-google-plus btn-lg" href="https://www.nerdishchaterwa.com/render/pVkM36Biz1#"><i class="icon-google-plus icon-large"></i>
                        Google+</a>
                </div>

            </div>
        </div>
    </div>

    <hr>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><i class="icon-facebook icon-2x"></i></li>
                        <li><i class="icon-twitter icon-2x"></i></li>
                        <li><i class="icon-google-plus icon-2x"></i></li>
                        <li><i class="icon-pinterest icon-2x"></i></li>
                    </ul>

                </div>
                <div class="col-sm-6">
                    <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.nerdishchaterwa.com/">nerdishchaterwa</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript jQuery code from nerdishchaterwa.com editor  -->

    <script type="text/javascript">
        function showAnswer() {
            var ele = document.getElementById("answer");
            ele.classList.remove("hidden");
            ele.style.display = "block";
        }

        // function submitFeedback() {
        //     document.getElementById("nextQuestion").submit();
        // }

        function myFunction() {
            var x = document.getElementById("opt").selectedIndex;
            var options = document.getElementsByTagName("option")[x].value;
            var fileName = options.slice(0, -3);
            // alert(url)
            location.href = "http://localhost:4000/flash/" + fileName + "/submitFeedback";
        }
        var listOfFiles = "<%=folderfiles%>"
        console.log("files " + listOfFiles)
        var splitArray = listOfFiles.split(",");
        console.log("splitdata " + splitArray)
        var filterMdFile = splitArray.filter(function(data) {
            if (data.endsWith(".md")) {
                return $('#opt').append('<option value = ' + data + '>' + data + '</option>"')
            } else {
                return "";
            }
        });
        console.log("filterdata " + filterMdFile);
    </script>
</body>

</html>