<!DOCTYPE html>
<!-- saved from url=(0041)https://www.nerdishchaterwa.com/render/pVkM36Biz1 -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>
        <%= title%>
    </title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script><script src="https://cdn.jsdelivr.net/lodash/2.4.1/lodash.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/9.1.0/styles/github.min.css">
    <script src="js/markdown-it.js"></script>
    <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <!-- <script src="/scripts/index.js"></script> -->

    <meta name="generator" content="nerdishchaterwa">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Clean Bootstrap 3 single column layout that works well for blog or article lists. This template features circle images, minimal narrow-style">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <!-- CSS code from nerdishchaterwa.com editor -->

    <style type="text/css">
        /* override bootstrap styles */
        @import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
    </style>
</head>

<!-- HTML code from nerdishchaterwa.com editor -->

<body>

    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
                <% for(let i=0; i<nav.length; i++) { %>
                <a href="<%= nav[i].link%>" class="navbar-brand">
                    <%= nav[i].title%></a>
                <%}%>
                </ul>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
            </nav>
        </div>
    </header>

    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>
                        <%= title%>
                        <p class="lead"></p>
                    </h1>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div><!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-spacer"> </div>
                </div>
            </div>
        </div><!-- /cont -->

    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">



                        <!--/stories-->

                        <div class="row">
                            <br>
                            <div class="col-md-2 col-sm-3 text-center">
                                Sign Up! Or <a href="/auth/signin">sign in</a>
                                <form name="singUpForm" action="/auth/signUp" method="POST">
                                    UserName: <input name="username" id="username" /><br />
                                    Password: <input type="password" name="password" id="username" /><br />
                                    <input type="submit" value="Sign Up!" />
                                </form>
                            </div>
                        </div>
                        <a href="https://www.nerdishchaterwa.com/" class="btn btn-primary pull-right btnNext">More<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>


    <hr>

    <div class="container" id="footer">
        <div class="row">
            <div class="col col-sm-12">

                <h1>Follow Us</h1>
                <div class="btn-group">
                    <a class="btn btn-twitter btn-lg" href="https://www.nerdishchaterwa.com/render/pVkM36Biz1#"><i class="icon-twitter icon-large"></i>
                        Twitter</a>
                    <a class="btn btn-facebook btn-lg" href="https://www.nerdishchaterwa.com/render/pVkM36Biz1#"><i class="icon-facebook icon-large"></i>
                        Facebook</a>
                    <a class="btn btn-google-plus btn-lg" href="https://www.nerdishchaterwa.com/render/pVkM36Biz1#"><i class="icon-google-plus icon-large"></i>
                        Google+</a>
                </div>

            </div>
        </div>
    </div>

    <hr>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><i class="icon-facebook icon-2x"></i></li>
                        <li><i class="icon-twitter icon-2x"></i></li>
                        <li><i class="icon-google-plus icon-2x"></i></li>
                        <li><i class="icon-pinterest icon-2x"></i></li>
                    </ul>

                </div>
                <div class="col-sm-6">
                    <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.nerdishchaterwa.com/">nerdishchaterwa</a></p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>